@font-face {
  font-family: 'Sen';
  src: url('./assets/fonts/Sen.ttf') format('truetype');
  font-weight: 400;      /* regular */
  font-style: normal;
  font-display: swap;
}

#app {
  background-color: #fff7e8;
}